<?xml version="1.0" encoding="UTF-8"?>
<x9config>
 <copyright>X9Ware LLC 2012</copyright>
 <product>X9Assist</product>
 <release>R2.06</release>
 <documentIdentifier>x9config</documentIdentifier>
 <timestamp>20130606_073322_581</timestamp>
 <configurations>
  <configuration>
   <configurationName>x9.100-187</configurationName>
   <x9RulesFileName>x9rules_x9.100-187.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules_x9.100-187_UCD.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.100-187_UCD</configurationName>
   <x9RulesFileName>x9rules_x9.100-187_UCD.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules_x9.100-187_UCD.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.37</configurationName>
   <x9RulesFileName>x9rules_x937.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.Ccd</configurationName>
   <x9RulesFileName>x9rules_x9.100-187_CCD.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.CcdPrint</configurationName>
   <x9RulesFileName>x9rules_x9.100-187_CCD_Print.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.EcAch</configurationName>
   <x9RulesFileName>x9rules_eastCaribbeanAch.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.Eex</configurationName>
   <x9RulesFileName>x9rules_eex.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.Frb</configurationName>
   <x9RulesFileName>x9rules_frb.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules_frb.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.SvpCo</configurationName>
   <x9RulesFileName>x9rules_svpco.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
  <configuration>
   <configurationName>x9.Viewpointe</configurationName>
   <x9RulesFileName>x9rules_viewpointe.xml</x9RulesFileName>
   <tiffRulesFileName>tiffrules.xml</tiffRulesFileName>
   <messagesFileName>messages.xml</messagesFileName>
   <optionsFileName>options.xml</optionsFileName>
  </configuration>
 </configurations>
</x9config>

